apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: toql
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: toql
    app.kubernetes.io/part-of: byoc-app-pokg
  name: toql
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: toql
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: toql
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-unei-tenant/byoc-app-pokg/toql@sha256:47e19631fba74b7fffb1eac64398eee6dfc8e35ec1c52a04878ee1c8daac629d
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
